.poster{
    border: 2px solid green;
    height: 700px;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: fixed;
    z-index: 1000;
}
.blurring{
    border: 4px solid rgb(185, 101, 32);
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to left ,rgba(67, 33, 233, 0.326),rgba(255, 255, 255, 0.177),rgba(0, 0, 0, 0.593),rgba(0, 0, 0, 0.796));
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.profile{
    border: 4px solid rgb(185, 101, 32);
    height: 80%;
    width: 20%;
    
}
.information{
    height: 80%;
    width: 60%;
}
.img{
    border: 4px solid rgb(185, 101, 32);
    height: 70%;
    width: 100%;
}
.img img{
    height: 100%;
    width: 100%;
}
.title{
    border: 4px solid rgb(32, 60, 185);
    height: 20%;
    width: 100%;
    color: white;
    font-size:1em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-weight: bolder;
    background-color: rgba(56, 56, 55, 0.621);
}
.title div{
    color: rgb(173, 166, 166);
    font-size:.5em;
}
.information{
    color: white;
    font-size: 1.5rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.495),rgba(0, 0, 0, 0.49));
}
.back{
    display: inline-block;
    font-size: 30px;
    font-weight: bolder;
    position: absolute;
    right: 4%;
    top: 6%;
    height: 60px;
    width: 60px;
    background-color: rgb(231, 225, 225);
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    

}
.back Link{
    color: white;
}